<div class="row">
  <div class="col-12">
    <hr />
    <div class="row">
      <div class="col-12 col-md-6">
        <h2><fa-icon [icon]="['fal', 'box']"></fa-icon> Products</h2>
      </div>
      <div class="col-12 col-md-6">
        <h2 *ngIf="showAdd$() | async">
          <span class="float-md-right">
            <a routerLink="/Products/Create"
               title="Create Product">
              <fa-icon [icon]="['fal', 'plus']"></fa-icon> Create Product
            </a>
          </span>
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr />
    <kendo-grid [data]="products"
                [pageSize]="state.take"
                [skip]="state.skip"
                [sort]="state.sort"
                [sortable]="sortable"
                [pageable]="pageable"
                [scrollable]="'none'"
                [groupable]="false"
                [group]="state.group"
                [filterable]="true"
                [filter]="state.filter"
                (dataStateChange)="dataStateChange($event)">
      <kendo-grid-column field="name" title="Name">
        <ng-template kendoGridCellTemplate let-product>
          <a routerLink="/Products/Details/{{product.id}}"
             title="Product Details">
            {{product.name}}
          </a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="price"
                         title="Price"
                         filter="numeric"
                         [format]="{ style: 'currency', currency: 'USD' }">
      </kendo-grid-column>
      <kendo-grid-column field="isDownload" title="Download" filter="boolean">
        <ng-template kendoGridCellTemplate let-product>
          <input type="checkbox" [checked]="product.isDownload" disabled />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="active" title="Active" filter="boolean" *ngIf="showActive$() | async">
        <ng-template kendoGridCellTemplate let-product>
          <input type="checkbox" [checked]="product.active" disabled />
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column>
        <ng-template kendoGridCellTemplate let-product>
          <ng-container *ngIf="inCart$(product.id) | async; then inCart; else notInCart"></ng-container>
          <ng-template #inCart>
            <a class="text-danger"
               title="Remove from Cart"
               (click)="removeFromCart(product.id)">
              <fa-icon [icon]="['fal', 'trash']"></fa-icon>
            </a>
          </ng-template>
          <ng-template #notInCart>
            <a (click)="addToCart(product)"
               title="Add to Cart">
              <fa-icon [icon]="['fal', 'cart-plus']"></fa-icon>
            </a>
          </ng-template>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <div *ngFor="let error of errors">
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
    <hr />
  </div>
</div>
