<div class="row">
  <div class="col-12">
    <hr />
    <h2><fa-icon [icon]="['fal', 'at']"></fa-icon> Confirm Email</h2>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{success}}
      <br />
      <a routerLink="/Account/Login">
        <fa-icon [icon]="['fal', 'sign-in']"></fa-icon> Login
      </a>
    </div>
    <div *ngFor="let error of errors">
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
  </div>
</div>
