<nav class="navbar container fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
     routerLink="/home"
     title="Home">Clarity</a>
  <button type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent"
       class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/products"
           routerLinkActive="active"
           title="Products">
          <fa-icon [icon]="['fal', 'box']"></fa-icon> Products
        </a>
      </li>
      <li *ngIf="userIsLoggedIn$() | async" class="nav-item">
        <a class="nav-link"
           routerLink="/orders"
           routerLinkActive="active"
           title="Orders">
          <fa-icon [icon]="['fal', 'shopping-bag']"></fa-icon> Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/cart"
           routerLinkActive="active"
           title="Cart">
          <fa-icon [icon]="['fal', 'shopping-cart']"></fa-icon> Cart
          (<ng-container *ngIf="cartProducts$() | async as cartProducts; then isCart; else isNotCart"></ng-container>)
        </a>
      </li>
      <ng-container *ngIf="userIsLoggedIn$() | async; then loggedIn; else loggedOut"></ng-container>
    </ul>
    <ng-template #loggedIn>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/account/manage"
           routerLinkActive="active"
           title="Account">
          <fa-icon [icon]="['fal', 'user']"></fa-icon> Account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/account/logout"
           routerLinkActive="active"
           title="Logout">
          <fa-icon [icon]="['fal', 'sign-out']"></fa-icon> Logout
        </a>
      </li>
    </ng-template>
    <ng-template #loggedOut>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/account/register"
           routerLinkActive="active"
           title="Register">
          <fa-icon [icon]="['fal', 'user-plus']"></fa-icon> Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/account/login']"
           [queryParams]="{ returnUrl: returnUrl }"
           title="Login">
          <fa-icon [icon]="['fal', 'sign-in']"></fa-icon> Login
        </a>
      </li>
    </ng-template>
    <ng-template #isCart let-cartProducts>{{cartProducts.length}}</ng-template>
    <ng-template #isNotCart>0</ng-template>
  </div>
</nav>
