<nav class="navbar container fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/Home">Clarity</a>
  <button type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Products" routerLinkActive="active">
          <fa-icon [icon]="['fal', 'boxes']"></fa-icon> Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Cart" routerLinkActive="active">
          <fa-icon [icon]="['fal', 'shopping-cart']"></fa-icon> Cart <span *ngIf="cart">
            ({{cart.cartProducts.length}})
          </span><span *ngIf="!cart">
            (0)
          </span>
        </a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a class="nav-link" routerLink="/Account/Manage" routerLinkActive="active">
          <fa-icon [icon]="['fal', 'user']"></fa-icon> Account
        </a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a class="nav-link" routerLink="/Account/Logout" routerLinkActive="active">
          <fa-icon [icon]="['fal', 'sign-out']"></fa-icon> Logout
        </a>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a class="nav-link" routerLink="/Account/Register" routerLinkActive="active">
          <fa-icon [icon]="['fal', 'user-plus']"></fa-icon> Register
        </a>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a class="nav-link" routerLink="/Account/Login" routerLinkActive="active">
          <fa-icon [icon]="['fal', 'sign-in']"></fa-icon> Login
        </a>
      </li>
    </ul>
  </div>
</nav>
