<div class="row">
  <div class="col-12">
    <p>
      Your account contains personal data that you have given us. This page allows you to download or delete that data.
    </p>
    <button class="btn btn-primary"
            type="button"
            (click)="downloadPersonalData()">
      Download
    </button>
    <div *ngFor="let error of errors">
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
    <hr />
    <p>
      <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <p>
      <a routerLink="/account/manage/delete-personal-data" class="btn btn-danger">Delete</a>
    </p>
  </div>
</div>
