<div class="row">
  <div class="col">
    <div class="alert alert-warning" role="alert">
      <p>
        <fa-icon [icon]="['fal', 'exclamation']"></fa-icon>
        <strong>Put these codes in a safe place.</strong>
      </p>
      <p>
        If you lose your device and don't have the recovery codes you will lose access to your account.
      </p>
      <p>
        Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key
        used in an authenticator app you should <a routerLink="/account/manage/reset-authenticator">reset your authenticator keys.</a>
      </p>
    </div>
    <button class="btn btn-primary"
            type="button"
            (click)="generateRecoveryCodes()">
      Generate Recovery Codes
    </button>
  </div>
</div>
<div class="row" *ngIf="model.recoveryCodes.length > 0">
  <div class="col">
    <span *ngIf="model.message">{{model.message}}</span>
    <span *ngFor="let recoveryCode of model.recoveryCodes">
      <code>{{recoveryCode}}</code><br />
    </span>
  </div>
</div>
