<div class="row">
  <div class="col">
    <hr />
    <h2>
      <fa-icon [icon]="['fal', 'cash-register']"></fa-icon> Checkout
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <div class="row">
      <div class="col">
        <ng-container *ngIf="needsShippingAddress()">
          <ng-container *ngIf="validShippingAddress; then showShipping; else enterShipping"></ng-container>
          <ng-template #showShipping>
            <h4>
              Shipping Address:
            </h4>
            <p [innerHTML]="formattedShippingAddress"></p>
            <button class="btn btn-primary"
                    (click)="openShippingAddressModal()">
              Change Shipping Address
            </button>
          </ng-template>
          <ng-template #enterShipping>
            <button class="btn btn-outline-primary"
                    (click)="openShippingAddressModal()">
              Enter Shipping Address
            </button>
          </ng-template>
          <hr />
        </ng-container>
        <ng-container *ngIf="!invalidShippingAddress()">
          <ng-container *ngIf="needsPayment()">
            <ng-container *ngIf="validPayment; then showPayment; else enterPayment"></ng-container>
            <ng-template #showPayment>
              <h4>
                Payment Information:
              </h4>
              <p *ngIf="brand" [ngSwitch]="brand">
                <span *ngSwitchCase="'Visa'">
                  <fa-icon [icon]="['fab', 'cc-visa']"></fa-icon>
                </span>
                <span *ngSwitchCase="'American Express'">
                  <fa-icon [icon]="['fab', 'cc-amex']"></fa-icon>
                </span>
                <span *ngSwitchCase="'MasterCard'">
                  <fa-icon [icon]="['fab', 'cc-mastercard']"></fa-icon>
                </span>
                <span *ngSwitchCase="'Discover'">
                  <fa-icon [icon]="['fab', 'cc-discover']"></fa-icon>
                </span>
                <span *ngSwitchCase="'JCB'">
                  <fa-icon [icon]="['fab', 'cc-jcb']"></fa-icon>
                </span>
                <span *ngSwitchCase="'Diners Club'">
                  <fa-icon [icon]="['fab', 'cc-diners-club']"></fa-icon>
                </span>
                <span *ngSwitchCase="'Unknown'">
                  <fa-icon [icon]="['fab', 'cc-stripe']"></fa-icon>
                </span>
                <span> **** **** **** {{last4}}</span>
              </p>
              <button class="btn btn-primary"
                      (click)="openPaymentInformationModal()">
                Change Payment Information
              </button>
            </ng-template>
            <ng-template #enterPayment>
              <button class="btn btn-outline-primary"
                      (click)="openPaymentInformationModal()">
                Enter Payment Information
              </button>
            </ng-template>
          </ng-container>
          <hr />
        </ng-container>
        <button class="btn btn-primary"
                type="button"
                (click)="checkout()"
                [disabled]="invalidShippingAddress() || invalidPayment()">
          Submit Checkout
        </button>
      </div>
      <div class="col">
        <h4>
          Total: {{total() | currency}}
        </h4>
      </div>
    </div>
    <hr />
  </div>
</div>
