<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <h2><fa-icon [icon]="['fal', 'user']"></fa-icon> Account Details</h2>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <div class="row">
      <div class="col-6 col-md-4">
        First Name
      </div>
      <div id="accountFirstName" class="col-6 col-md-8">
        <strong>{{account.firstName}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        Last Name
      </div>
      <div id="accountLastName" class="col-6 col-md-8">
        <strong>{{account.lastName}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        Email
      </div>
      <div id="accountEmail" class="col-6 col-md-8">
        <strong>{{account.email}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        Phone Number
      </div>
      <div id="accountPhoneNumber" class="col-6 col-md-8">
        <strong *ngIf="account.phoneNumber">{{account.phoneNumber}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        Phone Number
      </div>
      <div id="accountPhoneNumberConfirmed" class="col-6 col-md-8">
        <strong>{{account.phoneNumberConfirmed ? "Yes" : "No"}}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        Phone Number
      </div>
      <div id="accountTwoFactorEnabled" class="col-6 col-md-8">
        <strong>{{account.twoFactorEnabled ? "Yes" : "No"}}</strong>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <hr />
    <h4>
      <a routerLink="/Account/Edit/{{account.id}}">
        <fa-icon [icon]="['fal', 'edit']"></fa-icon> Edit
      </a>
    </h4>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
