registry=https://crgolden.pkgs.visualstudio.com/_packaging/Clarity/npm/registry/
always-auth=true
//crgolden.pkgs.visualstudio.com/_packaging/Clarity/npm/registry/:username=clarity
//crgolden.pkgs.visualstudio.com/_packaging/Clarity/npm/registry/:_password=${FEED_PASSWORD_CEF}
//crgolden.pkgs.visualstudio.com/_packaging/Clarity/npm/registry/:email=crgolden@msn.com
//crgolden.pkgs.visualstudio.com/_packaging/Clarity/npm/registry/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}
