registry=https://pkgs.dev.azure.com/crgolden/_packaging/crgolden/npm/registry/
always-auth=true
//pkgs.dev.azure.com/crgolden/_packaging/crgolden/npm/registry/:username=crgolden
//pkgs.dev.azure.com/crgolden/_packaging/crgolden/npm/registry/:_password=${FEED_PASSWORD}
//pkgs.dev.azure.com/crgolden/_packaging/crgolden/npm/registry/:email=e@m.ail
//pkgs.dev.azure.com/crgolden/_packaging/crgolden/npm/registry/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}
