@crgolden:registry=https://pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/registry/
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/registry/:username=crgolden
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/registry/:_password=${FEED_PASSWORD}
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/registry/:email=e@m.ail
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/registry/:always-auth=true
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/:username=crgolden
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/:_password=${FEED_PASSWORD}
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/:email=e@m.ail
//pkgs.dev.azure.com/crgolden/crgolden/_packaging/crgolden/npm/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}
