<div class="row">
  <div class="col-12">
    <h2><fa-icon [icon]="['fal', 'key']"></fa-icon> Reset Password</h2>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div *ngIf="!model.code" class="alert alert-danger" role="alert">
      <p>A code must be supplied for password reset.</p>
    </div>
    <div *ngIf="model.code">
      <div *ngIf="success" class="alert alert-success" role="alert">
        {{success}} Please <a routerLink="/Account/Login">click here to log in</a>.
      </div>
      <div *ngIf="!success">
        <form #f="ngForm" ngNativeValidate (ngSubmit)="resetPassword(f)">
          <div class="form-group row">
            <label for="email" class="col-4 col-form-label">Email</label>
            <div class="col-8">
              <input id="email"
                     name="email"
                     type="text"
                     class="form-control"
                     placeholder="Email"
                     required
                     email
                     #email="ngModel"
                     [(ngModel)]="model.email">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-4 col-form-label">Password</label>
            <div class="col-8">
              <input id="password"
                     name="password"
                     type="password"
                     class="form-control"
                     placeholder="Password"
                     required
                     #password="ngModel"
                     [(ngModel)]="model.password">
            </div>
          </div>
          <div class="form-group">
            <hr />
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="f.invalid">
              Submit
            </button>
          </div>
          <div *ngFor="let error of errors">
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
