<div class="row">
  <div class="col">
    <hr />
    <h2>
      <fa-icon [icon]="['fal', 'shopping-bag']"></fa-icon> Order Details
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <div class="row">
      <div class="col">
        <dl>
          <dt>
            Number
          </dt>
          <dd id="number">
            {{order.number}}
          </dd>
          <dt>
            Total
          </dt>
          <dd id="total">
            {{order.total | currency}}
          </dd>
          <dt>
            Date
          </dt>
          <dd id="created">
            {{order.created | date}}
          </dd>
        </dl>
      </div>
      <div class="col">
        <ng-container *ngIf="shippingAddress">
          <dl>
            <dt>
              Shipping Address
            </dt>
            <dd [innerHTML]="formattedShippingAddress"></dd>
          </dl>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <kendo-grid [data]="orderProducts"
                [pageSize]="orderProductsState.take"
                [skip]="orderProductsState.skip"
                [sort]="orderProductsState.sort"
                [sortable]="sortable"
                [pageable]="pageable"
                [scrollable]="'none'"
                [groupable]="false"
                [group]="orderProductsState.group"
                [filterable]="false"
                [filter]="orderProductsState.filter"
                (dataStateChange)="orderProductsStateChange($event)">
      <ng-template kendoGridToolbarTemplate>
        <h4>
          <fa-icon [icon]="['fal', 'box']"></fa-icon> Products
        </h4>
      </ng-template>
      <kendo-grid-column field="productName"
                         title="Name">
        <ng-template kendoGridCellTemplate let-orderProduct>
          <ng-container *ngIf="orderProduct.thumbnailUri">
            <img src="{{orderProduct.thumbnailUri}}"
                 alt="{{orderProduct.productName}}"
                 height="25"
                 width="25" />&nbsp;
          </ng-container><a routerLink="/products/details/{{orderProduct.productId}}"
                            title="Product Details">
            {{orderProduct.productName}}
          </a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="extendedPrice"
                         title="Price">
        <ng-template kendoGridCellTemplate let-orderProduct>
          {{orderProduct.extendedPrice | currency}}
          <span *ngIf="orderProduct.quantity > 1">
            ({{orderProduct.quantity}} @ {{orderProduct.price | currency}})
          </span>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <kendo-grid [data]="payments"
                [pageSize]="paymentsState.take"
                [skip]="paymentsState.skip"
                [sort]="paymentsState.sort"
                [sortable]="sortable"
                [pageable]="pageable"
                [scrollable]="'none'"
                [groupable]="false"
                [group]="paymentsState.group"
                [filterable]="false"
                [filter]="paymentsState.filter"
                (dataStateChange)="paymentsStateChange($event)">
      <ng-template kendoGridToolbarTemplate>
        <h4>
          <fa-icon [icon]="['fal', 'dollar-sign']"></fa-icon> Payments
        </h4>
      </ng-template>
      <kendo-grid-column field="name"
                         title="Name"
                         [filterable]="false">
        <ng-template kendoGridCellTemplate let-payment>
          <a routerLink="/payments/details/{{payment.id}}">
            {{payment.name}}
          </a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="amount"
                         title="Amount"
                         filter="numeric"
                         [filterable]="false"
                         [format]="{ style: 'currency', currency: 'USD' }">
      </kendo-grid-column>
      <kendo-grid-column field="created"
                         title="Date"
                         filter="date"
                         [filterable]="false"
                         [format]="{ date: 'short' }">
        <ng-template kendoGridCellTemplate let-payment>
          {{payment.created | date}}
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <h4>
      <a routerLink="/orders"
         title="Orders">
        <fa-icon [icon]="['fal', 'list']"></fa-icon> List
      </a><ng-container *ngIf="showEdit$() | async">
        | <a routerLink="/orders/edit/{{order.id}}"
             title="Edit Order">
          <fa-icon [icon]="['fal', 'edit']"></fa-icon> Edit
        </a>
      </ng-container>
    </h4>
    <hr />
  </div>
</div>
