<div class="row">
  <div class="col">
    <hr />
    <div class="row">
      <div class="col">
        <h2>
          <fa-icon [icon]="['fal', 'shopping-cart']"></fa-icon> Cart
        </h2>
      </div>
      <div class="col">
        <ng-container *ngIf="showProceedToCheckout$() | async">
          <h2 class="float-md-right">
            <a routerLink="/checkout">
              <fa-icon [icon]="['fal', 'cash-register']"></fa-icon> Proceed to Checkout
            </a>
          </h2>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="cart$() | async as cart">
  <div class="col">
    <hr />
    <kendo-grid [data]="cart.cartProducts"
                [pageSize]="state.take"
                [skip]="state.skip"
                [sort]="state.sort"
                [sortable]="sortable"
                [pageable]="pageable"
                [scrollable]="'none'"
                [groupable]="false"
                [group]="state.group"
                [filterable]="false"
                [filter]="state.filter">
      <ng-template kendoGridToolbarTemplate>
        <h4>
          <fa-icon [icon]="['fal', 'box']"></fa-icon> Products
        </h4>
      </ng-template>
      <ng-template kendoGridNoRecordsTemplate>
        The cart is empty. <a routerLink="/products">Click here to browse products.</a>
      </ng-template>
      <kendo-grid-column field="model2Name" title="Name">
        <ng-template kendoGridCellTemplate let-cartProduct>
          <ng-container *ngIf="cartProduct.thumbnailUri">
            <img src="{{cartProduct.thumbnailUri}}"
                 alt="{{cartProduct.model2Name}}"
                 height="25"
                 width="25" />&nbsp;
          </ng-container><a routerLink="/products/details/{{cartProduct.model2Id}}">
            {{cartProduct.model2Name}}
          </a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="price" title="Price">
        <ng-template kendoGridCellTemplate let-cartProduct>
          {{cartProduct.price | currency}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="quantity" title="Quantity">
        <ng-template kendoGridCellTemplate let-cartProduct>
          <kendo-numerictextbox [value]="cartProduct.quantity"
                                [min]="1"
                                [title]="Quantity"
                                [decimals]="0"
                                [format]="'n0'"
                                [autoCorrect]="true"
                                (valueChange)="updateQuantity($event, cartProduct)">
          </kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column>
        <ng-template kendoGridCellTemplate let-cartProduct>
          <a class="text-danger"
             (click)="removeCartProduct(cartProduct)">
            <fa-icon [icon]="['fal', 'trash']"></fa-icon>
          </a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <hr />
    <div class="row">
      <div class="col">
        <h4>
          Total: {{cart.total | currency}}
        </h4>
      </div>
    </div>
  </div>
  <hr />
</div>
