<div class="row">
  <div class="col-12 col-md-6">
    <hr />
    <h2><fa-icon [icon]="['fal', 'shopping-cart']"></fa-icon> Cart</h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <hr />
    <h4>
      Total: {{cartTotal | currency}}
    </h4>
    <hr />
    <kendo-grid *ngIf="cart"
                [data]="cart.cartProducts"
                [pageSize]="state.take"
                [skip]="state.skip"
                [sort]="state.sort"
                [sortable]="sortable"
                [pageable]="pageable"
                [scrollable]="'none'"
                [groupable]="false"
                [group]="state.group"
                [filterable]="false"
                [filter]="state.filter">
      <kendo-grid-column field="model2Name">
        <ng-template kendoGridHeaderTemplate>
          <fa-icon [icon]="['fal', 'box']"></fa-icon> Product
        </ng-template>
        <ng-template kendoGridCellTemplate let-cartProduct>
          <a routerLink="/Products/Details/{{cartProduct.model2Id}}">
            {{cartProduct.model2Name}}
          </a>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="quantity">
        <ng-template kendoGridHeaderTemplate>
          Quantity
        </ng-template>
        <ng-template kendoGridCellTemplate let-cartProduct>
          <div class="form-group-row">
            <input type="number"
                   class="form-control"
                   value="{{cartProduct.quantity}}"
                   (change)="updateQuantity($event, cartProduct)"
                   style="width: 100px" />
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column>
        <ng-template kendoGridCellTemplate let-cartProduct>
          <a class="text-danger">
            <fa-icon [icon]="['fal', 'trash']"
                     (click)="removeCartProduct(cartProduct)"></fa-icon>
          </a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <span *ngIf="!cart">Your cart is empty.</span>
  </div>
</div>
