<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <h2><fa-icon [icon]="['fal', 'user-plus']"></fa-icon> Register</h2>
    <hr />
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{success}}
    </div>
    <div *ngIf="!success">
      <form #f="ngForm" ngNativeValidate (ngSubmit)="register(f)">
        <div class="form-group row">
          <label for="firstName" class="col-4 col-form-label">First name</label>
          <div class="col-8">
            <input id="firstName" name="firstName" type="text" class="form-control" placeholder="First name" required
                   #firstName="ngModel"
                   [(ngModel)]="model.firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-4 col-form-label">Last name</label>
          <div class="col-8">
            <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last name" required
                   #lastName="ngModel"
                   [(ngModel)]="model.lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-4 col-form-label">Email</label>
          <div class="col-8">
            <input id="email" name="email" type="email" class="form-control" placeholder="Email" required email
                   #email="ngModel"
                   [(ngModel)]="model.email">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-4 col-form-label">Password</label>
          <div class="col-8">
            <input id="password" name="password" type="password" class="form-control" placeholder="Password" required
                   #password="ngModel"
                   [(ngModel)]="model.password">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"
                  [disabled]="f.invalid">
            Register
          </button>
        </div>
        <div *ngFor="let error of errors">
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
