<p class="text-info">
  You do not have a local username/password for this site. Add a local
  account so you can log in without an external login.
</p>
<div class="row">
  <div class="col-12">
    <form #f="ngForm"
          ngNativeValidate
          (ngSubmit)="setPassword(f)">
      <div class="form-group row">
        <label for="newPassword" class="col-4 col-form-label">
          New Password
        </label>
        <div class="col-8">
          <input id="newPassword"
                 name="newPassword"
                 type="password"
                 class="form-control"
                 placeholder="New Password"
                 required
                 #newPassword="ngModel"
                 [(ngModel)]="model.newPassword">
        </div>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]=" f.pristine || f.invalid">
        Set password
      </button>
        <div *ngFor="let error of errors">
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </div>
        <div *ngIf="message" class="alert-success">
          {{message}}
        </div>
    </form>
  </div>
</div>
