<div class="row">
  <div class="col">
    <p class="text-info">
      You do not have a local username/password for this site. Add a local
      account so you can log in without an external login.
    </p>
    <form #f="ngForm"
          ngNativeValidate
          (ngSubmit)="setPassword(f)">
      <div class="form-group">
        <label for="newPassword">
          New Password
        </label>
        <input id="newPassword"
               name="newPassword"
               type="password"
               class="form-control"
               placeholder="New Password"
               required
               #newPassword="ngModel"
               [(ngModel)]="model.newPassword">
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]=" f.pristine || f.invalid">
        Set password
      </button>
    </form>
  </div>
</div>
