<div class="container-fluid">
  <app-nav-menu></app-nav-menu>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-sm-1 col-md-2"></div>
    <div class="col-sm-10 col-md-8">
      <div class="row">
        <div class="col-12">
          <hr/>
          <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">&copy;2018 Clarity Ventures, Inc.</span>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-sm-1 col-md-2"></div>
  </div>
</div>
