<div class="row">
  <div class="col-12" *ngIf="!model.recoveryCodes || model.recoveryCodes.length <= 0">
    <p>To use an authenticator app go through the following steps:</p>
    <ol class="list">
      <li>
        <p>
          Download a two-factor authenticator app like Microsoft Authenticator for
          <a href="https://go.microsoft.com/fwlink/?Linkid=825071">Windows Phone</a>,
          <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
          <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
          Google Authenticator for
          <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
          <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
        </p>
      </li>
      <li>
        <p>Scan the QR Code or enter this key <kbd>{{model.sharedKey}}</kbd> into your two factor authenticator app. Spaces and casing do not matter.</p>
        <qrcode [qrdata]="model.authenticatorUri" [size]="150" [level]="'M'"></qrcode>
      </li>
      <li>
        <p>
          Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
          with a unique code. Enter the code in the confirmation box below.
        </p>
        <form #f="ngForm"
              ngNativeValidate
              (ngSubmit)="verifyAuthenticator(f)">
          <div class="form-group">
            <label for="code">Verification Code</label>
            <input id="code"
                   name="code"
                   type="text"
                   class="form-control"
                   autocomplete="off"
                   placeholder="Code"
                   required
                   #code="ngModel"
                   [(ngModel)]="model.code" />
          </div>
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="f.invalid">
            Verify
          </button>
          <div *ngFor="let error of errors">
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          </div>
        </form>
      </li>
    </ol>
  </div>
  <div class="col-12" *ngIf="model.recoveryCodes && model.recoveryCodes.length > 0">
    <span *ngIf="model.message">{{model.message}}</span>
    <span *ngFor="let recoveryCode of model.recoveryCodes">
      <code>{{recoveryCode}}</code><br />
    </span>
  </div>
</div>
