<div class="row">
  <div class="col">
    <hr />
    <div class="row">
      <div class="col">
        <h2>
          <fa-icon [icon]="['fal', 'box']"></fa-icon> Product Details
        </h2>
      </div>
      <div class="col">
        <ng-container *ngIf="inCart$() | async; then inCart; else notInCart"></ng-container>
        <ng-template #inCart>
          <h2>
            <a class="float-md-right text-danger"
               title="Remove from Cart"
               (click)="removeFromCart()">
              <fa-icon [icon]="['fal', 'trash']"></fa-icon>
            </a>
          </h2>
        </ng-template>
        <ng-template #notInCart>
          <h2>
            <a class="float-md-right"
               title="Add to Cart"
               (click)="addToCart()">
              <fa-icon [icon]="['fal', 'cart-plus']"></fa-icon>
            </a>
          </h2>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input id="isDownload"
                     type="checkbox"
                     class="k-checkbox"
                     name="isDownload"
                     [checked]="product.isDownload"
                     disabled>
              <label class="k-checkbox-label" for="isDownload">Download</label>
            </div>
          </div>
          <div class="col">
            <ng-container *ngIf="showActive$() | async">
              <div class="form-group">
                <input id="active"
                       type="checkbox"
                       class="k-checkbox"
                       name="active"
                       [checked]="product.active"
                       disabled>
                <label class="k-checkbox-label" for="active">Active</label>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <dl>
              <dt>
                Name
              </dt>
              <dd>
                {{product.name}}
              </dd>
              <dt>
                Description
              </dt>
              <dd>
                {{product.description}}
              </dd>
              <dt>
                Unit Price
              </dt>
              <dd>
                {{product.unitPrice | currency}}
              </dd>
              <dt>
                Quantity per Unit
              </dt>
              <dd>
                {{product.quantityPerUnit}}
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col">
        <ng-container *ngIf="primaryImageUri">
          <img src="{{primaryImageUri}}"
               alt="Product Image"
               title="Product Image" />
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <h4>
      <a routerLink="/products"
         title="Products">
        <fa-icon [icon]="['fal', 'list']"></fa-icon> List
      </a><ng-container *ngIf="showEdit$() | async">
        | <a routerLink="/products/edit/{{product.id}}"
             title="Edit Product">
          <fa-icon [icon]="['fal', 'edit']"></fa-icon> Edit
        </a>
      </ng-container>
    </h4>
    <hr />
  </div>
</div>
