<div class="row">
  <div class="col-12">
    <hr />
    <h2>
      <fa-icon [icon]="['fal', 'key']"></fa-icon> Forgot Password
    </h2>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <ng-container *ngIf="success; then message; else form"></ng-container>
    <ng-template #message class="alert alert-success" role="alert">
      {{success}}
    </ng-template>
    <ng-template #form>
      <form #f="ngForm"
            ngNativeValidate
            (ngSubmit)="forgotPassword(f)">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email"
                 name="email"
                 type="text"
                 class="form-control"
                 placeholder="Email"
                 required
                 email
                 #email="ngModel"
                 [(ngModel)]="model.email">
        </div>
        <div class="form-group">
          <button type="submit"
                  class="btn btn-primary"
                  [disabled]="f.pristine || f.invalid">
            Submit
          </button>
        </div>
        <div *ngFor="let error of errors">
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </div>
      </form>
    </ng-template>
  </div>
</div>
