<form #shippingAddressForm="ngForm"
      ngNativeValidate
      (ngSubmit)="validateShippingAddress(shippingAddressForm)">
  <div class="modal-header">
    <h4 id="shippingAddressModalTitle"
        class="modal-title">
      Shipping Address
    </h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="streetAddress">
        Street Address
      </label>
      <input id="streetAddress"
             name="streetAddress"
             type="text"
             class="form-control"
             placeholder="Street Address"
             required
             #street="ngModel"
             [(ngModel)]="shippingAddress.street_address">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input id="city"
             name="city"
             type="text"
             class="form-control"
             placeholder="City"
             required
             #street="ngModel"
             [(ngModel)]="shippingAddress.locality">
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="region">State</label>
          <input id="region"
                 name="region"
                 type="text"
                 class="form-control"
                 placeholder="State"
                 required
                 #street="ngModel"
                 [(ngModel)]="shippingAddress.region">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="postalCode">ZIP Code</label>
          <input id="postalCode"
                 name="postalCode"
                 type="text"
                 class="form-control"
                 placeholder="ZIP Code"
                 required
                 #street="ngModel"
                 [(ngModel)]="shippingAddress.postal_code">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input id="country"
             name="country"
             type="text"
             class="form-control"
             placeholder="Country"
             required
             #street="ngModel"
             [(ngModel)]="shippingAddress.country">
    </div>
  </div>
  <ng-container *ngIf="unableToValidateShippingAddress; then invalid; else valid"></ng-container>
  <ng-template #valid>
    <div class="modal-footer">
      <button type="submit"
              class="btn btn-primary">
        Save
      </button>
    </div>
  </ng-template>
  <ng-template #invalid>
    <div class="modal-footer">
      <p class="text-warning">
        Unable to validate shipping address. Use it anyway?
      </p>
      <br />
      <button type="button"
              class="btn btn-primary"
              (click)="useAnyway(true)">
        Yes
      </button> |
      <button type="button"
              class="btn btn-outline-primary"
              (click)="useAnyway(false)">
        No
      </button>
    </div>
  </ng-template>
</form>
