<div class="row" *ngIf="model.currentLogins.length > 0">
  <div class="col-12">
    <h4>Registered Logins</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Provider</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currentLogin of model.currentLogins">
          <td [ngSwitch]="currentLogin.loginProvider">
            <span *ngSwitchCase="'Facebook'">
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon> {{currentLogin.loginProvider}}
            </span>
          </td>
          <td>
            <button type="button"
                    class="btn btn-danger"
                    *ngIf="model.showRemoveButton"
                    (click)="removeLogin(currentLogin.loginProvider, currentLogin.providerKey)"
                    title="Remove this {{currentLogin.loginProvider}} login from your account">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngFor="let error of errors">
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
  </div>
</div>
