<div class="row">
  <div class="col">
    <hr />
    <h2>
      <fa-icon [icon]="['fal', 'box']"></fa-icon> Edit Product
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <form #f="ngForm"
          ngNativeValidate
          (ngSubmit)="edit(f)">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   name="name"
                   type="text"
                   required
                   class="form-control"
                   placeholder="Name"
                   #name="ngModel"
                   [(ngModel)]="product.name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input id="active"
                   name="active"
                   class="k-checkbox"
                   type="checkbox"
                   [checked]="product.active"
                   #active="ngModel"
                   [(ngModel)]="product.active">
            <label class="k-checkbox-label" for="active">
              Active
            </label>
          </div>
          <div class="form-group">
            <input id="isDownload"
                   name="isDownload"
                   class="k-checkbox"
                   type="checkbox"
                   [checked]="product.isDownload"
                   #isDownload="ngModel"
                   [(ngModel)]="product.isDownload">
            <label class="k-checkbox-label" for="isDownload">
              Download
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea kendoTextArea
                      id="description"
                      class="form-control"
                      name="description"
                      placeholder="Description"
                      #description="ngModel"
                      [(ngModel)]="product.description"></textarea>
          </div>
        </div>
        <div class="col">
          <ng-container *ngIf="product.imageUri">
            <div class="form-group">
              <label>Images</label>
              <br />
              <img src="{{product.imageUri}}"
                   alt="Product Image"
                   title="Product Image" />
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="unitPrice">Price</label>
                <kendo-numerictextbox id="unitPrice"
                                      class="form-control"
                                      name="unitPrice"
                                      required
                                      placeholder="Price"
                                      [value]="product.unitPrice"
                                      title="Price"
                                      [min]="0"
                                      [decimals]="2"
                                      [format]="'c2'"
                                      [autoCorrect]="true"
                                      #unitPrice="ngModel"
                                      [(ngModel)]="product.unitPrice">
                </kendo-numerictextbox>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="quantityPerUnit">Quantity per Unit</label>
                <input id="quantityPerUnit"
                       name="quantityPerUnit"
                       type="text"
                       required
                       class="form-control"
                       placeholder="Quantity per Unit"
                       #quantityPerUnit="ngModel"
                       [(ngModel)]="product.quantityPerUnit">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group" *ngIf="files">
            <label>Upload</label>
            <kendo-upload id="filesUpload"
                          name="filesUpload"
                          #filesUpload="ngModel"
                          [saveUrl]="uploadSaveUrl"
                          [removeUrl]="uploadRemoveUrl"
                          [restrictions]="uploadTypes"
                          (success)="onSuccess($event)"
                          [(ngModel)]="files">
            </kendo-upload>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <hr />
            <h4>
              <ng-container *ngIf="showSave$() | async">
                <button type="submit"
                        class="btn btn-primary"
                        [disabled]="f.pristine || f.invalid">
                  Save
                </button> |
              </ng-container>
              <a routerLink="/products/details/{{product.id}}"
                 title="Product Details">
                <fa-icon [icon]="['fal', 'info-square']"></fa-icon> Details
              </a> |
              <a routerLink="/products"
                 title="Products">
                <fa-icon [icon]="['fal', 'list']"></fa-icon> List
              </a>
            </h4>
          </div>
        </div>
      </div>
    </form>
    <hr />
  </div>
</div>
