<div class="row">
  <div class="col">
    <hr />
    <h2>
      <fa-icon [icon]="['fal', 'dollar-sign']"></fa-icon> Payment Details
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <dl>
      <dt>
        Name
      </dt>
      <dd id="name">
        {{payment.name}}
      </dd>
      <dt>
        Amount
      </dt>
      <dd id="amount">
        {{payment.amount | currency}}
      </dd>
      <dt>
        Description
      </dt>
      <dd id="description">
        {{payment.description}}
      </dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <h4>
      <a routerLink="/orders/details/{{payment.orderId}}"
         title="Order Details">
        <fa-icon [icon]="['fal', 'shopping-bag']"></fa-icon> Order
      </a><ng-container *ngIf="showEdit$() | async">
        | <a routerLink="/payments/edit/{{payment.id}}">
          <fa-icon [icon]="['fal', 'edit']"></fa-icon> Edit
        </a>
      </ng-container>
    </h4>
  </div>
</div>
