<div class="row">
  <div class="col">
    <hr />
    <h2>
      <fa-icon [icon]="['fal', 'dollar-sign']"></fa-icon> Edit Payment
    </h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <form #f="ngForm"
          ngNativeValidate
          (ngSubmit)="edit(f)">
        <dl>
          <dt>
            Name
          </dt>
          <dd>
            {{payment.name}}
          </dd>
          <dt>
            Amount
          </dt>
          <dd>
            {{payment.amount | currency}}
          </dd>
        </dl>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea kendoTextArea
                  id="description"
                  class="form-control"
                  name="description"
                  placeholder="Description"
                  #description="ngModel"
                  [(ngModel)]="payment.description"></textarea>
      </div>
      <div class="form-group">
        <hr />
        <h4>
          <ng-container *ngIf="showSave$() | async">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="f.pristine || f.invalid">
              Save
            </button> |
          </ng-container>
          <a routerLink="/payments/details/{{payment.id}}"
             title="Payment Details">
            <fa-icon [icon]="['fal', 'info-square']"></fa-icon> Details
          </a> |
          <a routerLink="/orders/details/{{payment.orderId}}"
             title="Order Details">
            <fa-icon [icon]="['fal', 'shopping-bag']"></fa-icon> Order
          </a>
        </h4>
      </div>
    </form>
  </div>
</div>
