/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-bootstrap/scss/all";
@import '~bootstrap/scss/bootstrap';

.loading {
  font-size: 64px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
