<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect to HTTPS" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="true" />
            <conditions logicalGrouping="MatchAny">
              <add input="{HTTPS}" pattern="Off" ignoreCase="true"/>
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" appendQueryString="true" />
          </rule>
          <rule name="Angular">
            <match url=".*" ignoreCase="true" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
