<div class="row">
  <div class="col-sm-1 col-md-2"></div>
  <div class="col-sm-10 col-md-8">
    <h2><fa-icon [icon]="['fal', 'home']"></fa-icon> Home</h2>
    <hr />
  </div>
  <div class="col-sm-1 col-md-2"></div>
</div>
<div class="row">
  <div class="col-sm-2 col-md-2"></div>
  <div class="col-sm-3 col-md-3 text-center">
    <h4>
      <!--<a [routerLink]="['/Clients']">
        <fa-icon [icon]="['fal', 'user']" size="5x"></fa-icon><br /><br />Clients
      </a>-->
    </h4>
  </div>
  <div class="col-sm-2 col-md-2 text-center">
    <h4>
      <!--<a [routerLink]="['/Features']">
        <fa-icon [icon]="['fal', 'cog']" size="5x"></fa-icon><br /><br />Features
      </a>-->
    </h4>
  </div>
  <div class="col-sm-3 col-md-3 text-center">
    <h4>
      <!--<a [routerLink]="['/ClientFeatures']">
        <fa-icon [icon]="['fal', 'user-cog']" size="5x"></fa-icon><br /><br />Licenses
      </a>-->
    </h4>
  </div>
  <div class="col-sm-2 col-md-2"></div>
</div>
