<div class="row">
  <div class="col">
    <div class="alert alert-warning" role="alert">
      <p>
        <fa-icon [icon]="['fal', 'exclamation']"></fa-icon>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
      </p>
    </div>
    <div>
      <form #f="ngForm"
            ngNativeValidate
            (ngSubmit)="deletePersonalData(f)">
        <ng-container *ngIf="requirePassword">
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password"
                   name="password"
                   type="password"
                   class="form-control"
                   placeholder="Password"
                   required
                   #password="ngModel"
                   [(ngModel)]="model.password">
          </div>
        </ng-container>
        <button class="btn btn-danger"
                type="submit"
                [disabled]="f.pristine || f.invalid">
          Delete data and close my account
        </button>
      </form>
    </div>
  </div>
</div>
