<div class="row">
  <div class="col-12 col-md-6">
    <hr />
    <h2><fa-icon [icon]="['fal', 'box']"></fa-icon> Delete Product</h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <hr />
    <div class="row">
      <div class="col-6 col-md-4">
        Name
      </div>
      <div id="name" class="col-6 col-md-8">
        <strong>{{product.name}}</strong>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <form novalidate (ngSubmit)="delete()">
      <div class="form-group">
        <hr />
        <h4>
          <span *ngIf="showDelete">
            <button type="submit" class="btn btn-primary">
              Delete
            </button> |
          </span>
          <a routerLink="/Products/Details/{{product.id}}">
            <fa-icon [icon]="['fal', 'info-square']"></fa-icon> Details
          </a> |
          <a routerLink="/Products">
            <fa-icon [icon]="['fal', 'list']"></fa-icon> List
          </a>
        </h4>
        <div *ngFor="let error of errors">
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
